@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
/*--------------------------------------------------------
                    UNIVERSAL STYLING
---------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: #108DE5;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

input:focus {
  box-shadow: none !important;
}

/*--------------------------------------------------------
                   LOGIN PAGE STYLING
---------------------------------------------------------*/
.login_sec .login_sec_bg {
  background: #03090D;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.login_sec .login_sec_bg .login_shape {
  position: absolute;
  content: "";
  top: -18%;
  left: -7%;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 400px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(16, 141, 229, 0.12) 0%, rgba(16, 141, 229, 0) 100%);
}
.login_sec .login_sec_bg .login_card {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login_sec .login_sec_bg .login_card .login_card_img {
  margin-bottom: 30px;
}
.login_sec .login_sec_bg .login_card .login_card_img img {
  max-width: 200px;
  width: 100%;
  height: 88px;
}
.login_sec .login_sec_bg .login_card .login_card_content:before {
  position: absolute;
  content: "";
  width: 800px;
  height: 800px;
  flex-shrink: 0;
  border-radius: 800px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(16, 141, 229, 0.12) 0%, rgba(16, 141, 229, 0) 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login_sec .login_sec_bg .login_card .login_card_form {
  border-radius: 16px;
  border: 1px solid rgba(142, 157, 173, 0.2);
  padding: 7px;
  position: relative;
}
.login_sec .login_sec_bg .login_card .login_card_form .login_card_form_content {
  max-width: 460px;
  min-width: 460px;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 4px 4px 8px 4px rgba(3, 9, 13, 0.4);
  padding: 20px;
}
@media (max-width: 767px) {
  .login_sec .login_sec_bg .login_card .login_card_form .login_card_form_content {
    max-width: 350px;
    min-width: 350px;
  }
}
.login_sec .login_sec_bg .login_card .login_card_form .login_card_form_title h2 {
  color: #FFFFFF;
  margin-bottom: 10px;
}
.login_sec .login_sec_bg .login_card .login_card_form .login_card_form_title p {
  color: #FFFFFF;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username {
  margin-top: 20px;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_password {
  margin-top: 30px;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username,
.login_sec .login_sec_bg .login_card .login_card_form .input_password {
  position: relative;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username input,
.login_sec .login_sec_bg .login_card .login_card_form .input_password input {
  background: transparent;
  border-radius: 20px;
  border: 1px solid #8E9DAD;
  height: 40px;
  padding-left: 35px;
  color: #fff;
  font-size: 12px;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username input::-moz-placeholder, .login_sec .login_sec_bg .login_card .login_card_form .input_password input::-moz-placeholder {
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username input::placeholder,
.login_sec .login_sec_bg .login_card .login_card_form .input_password input::placeholder {
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username .preview_icon,
.login_sec .login_sec_bg .login_card .login_card_form .input_password .preview_icon {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username .login_input_icons,
.login_sec .login_sec_bg .login_card .login_card_form .input_password .login_input_icons {
  position: absolute;
  top: 10px;
  left: 10px;
}
.login_sec .login_sec_bg .login_card .login_card_form .input_username input:focus,
.login_sec .login_sec_bg .login_card .login_card_form .input_password input:focus {
  border: 1px solid #22D5E0;
}
.login_sec .login_sec_bg .login_card .login_card_form .form_checkbox {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
}
.login_sec .login_sec_bg .login_card .login_card_form .form_checkbox input {
  background-color: transparent;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8E9DAD;
}
.login_sec .login_sec_bg .login_card .login_card_form .form_checkbox label {
  color: #8E9DAD;
}
.login_sec .login_sec_bg .login_card .login_card_form .login_form_btn {
  border-radius: 20px;
  background: #108DE5;
  box-shadow: 0px 0px 20px 0px rgba(125, 201, 255, 0.2);
  border: 0;
  color: #fff;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}
.login_sec .login_sec_bg .login_card .login_card_form .login_form_btn:hover {
  background: #0e7cca;
}
.login_sec .login_sec_bg .login_card .login_card_form .login_form_btn .progress-bar {
  height: 40px;
  width: 100%;
  background-color: #BFADA3;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;
}
.login_sec .login_sec_bg .login_card .login_card_form .login_form_btn .progress-bar .perc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.login_sec .login_sec_bg .login_card .login_card_form .login_form_btn .bars {
  width: 0;
  height: 100%;
  background-color: #108DE5;
  /*Lollipop background gradient*/
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 30px 30px;
  animation: move 2s linear;
  box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
  transition: width 2s ease-out;
}

/*Lollipop background gradient animation*/
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
.shake {
  animation: shake 150ms 2 linear;
  -moz-animation: shake 150ms 2 linear;
  -webkit-animation: shake 150ms 2 linear;
  -o-animation: shake 150ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=style.css.map */

/* formError */



  /*--------------------------------------------------------
             Dashboard header section STYLING
---------------------------------------------------------*/
.dashboard_header {
  padding-left: 50px;
}
.dashboard_header .dashboard_header_content {
  border-bottom: 1px solid rgba(142, 157, 173, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_header .dashboard_header_content h1 {
  margin-bottom: 0;
  padding: 3px 0;
}
.dashboard_header .dashboard_user_icon img {
  border-radius: 32px;
  border: 2px solid #108DE5;
  /* background: url("./assets/images/446d450f407537579efd215a65090eaf.jpg"), lightgray 50%/cover no-repeat, #D9D9D9; */
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--------------------------------------------------------
            Dashboard main left section STYLING
---------------------------------------------------------*/


.inner_card_country_svg{
  position: relative;
  height: 14px;
  width: 20px;
}
.dashboard_main {
  margin-top: 10px;
  padding-left: 50px;
  /* this is a recreation of twitter search in css */
}
.dashboard_main .dashboard_main_left_section .left_card {
  border-radius: 16px;
  border: 1px solid rgba(142, 157, 173, 0.2);
  padding: 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_title {
  border-bottom: 1px solid rgba(142, 157, 173, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_title h5 {
  color: #fff;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_title span {
  color: #8E9DAD;
  font-size: 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body {
  margin-top: 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  padding: 5px 10px;
  margin-top: 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_title .inner_card_title_span .inner_card_title_span_a {
  border-radius: 4px;
  background: rgba(237, 176, 59, 0.2);
  color: #EDB03B;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_title .inner_card_title_span .inner_card_title_span_b {
  border-radius: 4px;
  background: rgba(10, 213, 96, 0.2);
  color: #0AD560;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_title .inner_card_title_span .inner_card_title_span_a_max {
  border-radius: 4px;
  background: rgba(246, 69, 73, 0.2);
  color: #F64549;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_title .inner_card_date {
  font-size: 10px;
  color: #8E9DAD;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .bg_card_yellow {
  color: #EDB03B;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .bg_card_green {
  color: #08B150;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .bg_card_red {
  color: #F64549;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_body {
  margin-top: 8px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_body .inner_card_body_maincontent p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 1px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_body .inner_card_group_risk {
  margin-bottom: 0;
  color: #8E9DAD;
  display: flex;
  align-items: center;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_body .inner_card_group_risk .inner_card_group_risk_svg {
  padding-left: 10px;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_body .inner_card_group_risk span {
  font-size: 12px;
  margin-bottom: 0;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_body .inner_card_country {
  display: flex;
  align-items: center;
}
.dashboard_main .dashboard_main_left_section .left_card .left_card_body .inner_card .inner_card_body .inner_card_country span {
  font-size: 12px;
  color: #8E9DAD;
  padding-left: 10px;
  margin-top: 1px;
  margin-bottom: 0;
}
.dashboard_main .real_time_stat {
  border-radius: 16px;
  border: 1px solid rgba(142, 157, 173, 0.2);
  padding: 10px;
}
.dashboard_main .real_time_stat .real_time_stat_title {
  border-bottom: 1px solid rgba(142, 157, 173, 0.2);
}
.dashboard_main .real_time_stat .real_time_stat_title h5 {
  color: #fff;
}
.dashboard_main .real_time_stat .real_time_stat_card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  padding: 0 0 0 10px;
}
.dashboard_main .real_time_stat .real_time_stat_card .real_time_stat_card_content span {
  color: #8E9DAD;
  font-size: 12px;
}
.dashboard_main .real_time_stat .real_time_stat_card .real_time_stat_card_content h4 {
  color: #108DE5;
  font-size: 20px;
  text-shadow: 0px 0px 10px rgba(125, 201, 255, 0.2);
}
.dashboard_main .search_bar_right {
  /* form style */
  /* a fancy bg for showing background and border when focus. */
  /* label styling */
  /* styling search-icon */
  /* svg -- size */
  /* styling of input */
  /* input background change in focus */
  /* search icon color change in focus */
  /* showing close button when typing */
  /* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
}
.dashboard_main .search_bar_right .form {
  --input-text-color: #fff;
  --input-bg-color: #283542;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
.dashboard_main .search_bar_right .form {
  font-size: 12px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  position: relative;
  isolation: isolate;
}
.dashboard_main .search_bar_right .fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  border-radius: 8px;
  border: 1px solid #8E9DAD;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.dashboard_main .search_bar_right label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}
.dashboard_main .search_bar_right .search,
.dashboard_main .search_bar_right .close-btn {
  position: absolute;
}
.dashboard_main .search_bar_right .search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
.dashboard_main .search_bar_right svg {
  width: 17px;
  display: block;
}
.dashboard_main .search_bar_right .input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, var(--inline-padding-of-input) + var(--gap));
  background: none;
  border: none;
}
.dashboard_main .search_bar_right .input:focus {
  outline: none;
}
.dashboard_main .search_bar_right .input::-moz-placeholder {
  color: var(--text-color);
}
.dashboard_main .search_bar_right .input::placeholder {
  color: var(--text-color);
}
.dashboard_main .search_bar_right .input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
.dashboard_main .search_bar_right .input:focus ~ .search {
  fill: var(--active-color);
}
.dashboard_main .search_bar_right .input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
.dashboard_main .search_bar_right input:-webkit-autofill,
.dashboard_main .search_bar_right input:-webkit-autofill:hover,
.dashboard_main .search_bar_right input:-webkit-autofill:focus,
.dashboard_main .search_bar_right input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
.dashboard_main .right_div {
  margin-top: 20px;
}
.dashboard_main .host_trend_cloud {
  border-radius: 16px;
  border: 1px solid rgba(142, 157, 173, 0.2);
  padding: 10px;
  margin-top: 20px;
}
.dashboard_main .host_trend_cloud .host_trend_cloud_title {
  border-bottom: 1px solid rgba(142, 157, 173, 0.2);
}
.dashboard_main .host_trend_cloud .host_trend_cloud_title h5 {
  color: #fff;
}
.dashboard_main .host_trend_cloud .host_trend_cloud_body {
  margin-top: 10px;
}
.dashboard_main .host_trend_cloud .host_trend_cloud_body .host_trend_cloud_content p {
  color: #8E9DAD;
}

/*--------------------------------------------------------
                left_sidebar section STYLING
---------------------------------------------------------*/
.extra_padding {
  padding-left: 180px;
  opacity: 1;
}

.extra_padding_inner {
  padding-left: 130px;
  opacity: 1;
}

.extra_padding_inner_large {
  overflow-x: visible !important;
}

.left_sidebar {
  position: fixed;
  background: #03090D;
  height: 100%;
  z-index: 9;
}
.left_sidebar .d-none {
  display: none;
  opacity: 0;
}
.left_sidebar #collapse_bar_svg_1 {
  margin-left: 5px;
}
.left_sidebar #logo_2 {
  display: none;
  width: 118.319px;
  height: 52px;
  margin: auto;
}
.left_sidebar #collapse_bar_svg_2 {
  display: none;
}
.left_sidebar .left_sidebar_logo {
  border-bottom: 1px solid rgba(142, 157, 173, 0.2);
  padding: 12px 0;
  transition: all 1s ease;
}
.left_sidebar .left_sidebar_logo img {
  width: 44.2px;
  height: 26px;
}
.left_sidebar .left_sidebar_nevigation.extra_padding_inner_large a {
  width: 150px;
}
.left_sidebar .left_sidebar_nevigation {
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
}
.left_sidebar .left_sidebar_nevigation ul {
  padding-left: 0;
  padding: 0 10px;
}
.left_sidebar .left_sidebar_nevigation ul li {
  list-style: none;
  border-radius: 0px 22px 22px 0px;
  height: 40px;
  display: flex;
  align-items: center;
}
.left_sidebar .left_sidebar_nevigation ul li:first-child {
  margin-top: 10px;
}
.left_sidebar .left_sidebar_nevigation ul li a {
  color: #8E9DAD;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.left_sidebar .left_sidebar_nevigation ul li a span {
  margin-left: 10px;
  display: none;
}
.left_sidebar .left_sidebar_nevigation .logout_nevigation {
  margin-top: 300px;
}/*# sourceMappingURL=style.css.map */


/* sign in page additional */



.formerror{
  position:absolute;

  /* margin-top: 0.25rem; */
}
.formerror p {
  color: #dc3545;
  font-size: 10px;
  margin-top: 1.5px;
  /* margin-bottom: 7px; */
  margin-left: 15px;
}

.position_relative{
  position: relative;
}


#imageParent{
  display: none;
}
  .loadingParent {
    color: #fff;
    /* display: none; */
    left: 50%;
    padding: 15px;
    position: fixed;
    top: 56%;
    -webkit-transform: translate(-50%,-40%);
    transform: translate(-50%,-50%);
    z-index: 10000;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    /* border: 4px solid #000; */
    border: 4px solid #FFFFFF;

    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .spanMandotory{
    font-size: 15px;
    font-weight: 700;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }